.mat-card {

}

.img{
background: #F2F2F2;
 width: 100%;
 height: 150px;
}

.card-container {
 display: flex;
 flex-direction: column;
 border: 1px solid #F2F2F2;
 border-radius: 10px;
 height: 60%;
 padding: 14px;
 margin: 0 16px 36px 32px;
 width: 215px;
}

.name{
 font-size: 18px;
 font-weight: bolder;
}

.fire{
  background-color: #FDDFDF ;
}
.bug{
  background-color: #f8d5a3 ;
}

.types {
  display: flex;
}

.type {
  padding: 0 10px;
  margin: 5px;
}

.number {
  color: #919191;
  padding-top: 5px;
}
